@import "./footer.css";
@import "./header.css";
* {
  box-sizing: border-box;
}
.main {
  width: 1200px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* height: 5000px; */
  /* font-size: 0; */
}
.trouble {
  /* border: 1px solid red; */
  display: inline-block;
  margin-top: 100px;
  width: fit-content;
}
.trouble img {
  display: inline-block;
  width: 780px;
}
.trouble p {
  /* border: 1px solid red; */
  display: inline-block;
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  margin: 0;
  margin-right: 10px;
  margin-left: 30px;
  vertical-align: top;

  font-size: 36px;
  color: #4a847e;
}
.trouble_text {
  /* border: 1px solid blue; */
  width: 310px;
  display: inline-block;
  position: relative;
}

.trouble_text h3 {
  /* border: 1px solid blue; */
  font-size: 24px;
  color: white;
  background-color: #4a847e;
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 148px;
  /* margin-top: 300px; */
}
.trouble4 {
  /* border: 1px solid red; */
  width: 300px;
  height: 280px;
  background-color: #c7dec2;
  padding: 40px;
}
.trouble4 > p {
  font-size: 20px;
  background-color: #c7dec2;
  margin: 0;
  /* text-align: center; */
  line-height: 40px;

  /* vertical-align: middle; */
}
p.everyday {
  /* border: 1px solid red; */
  width: 692px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  margin: 0;
  margin-left: 100px;
  margin-bottom: 80px;
  margin-top: -64px;
}

.background {
  background-image: url(../images/cutomerize/bag2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 300px;
  background-attachment: fixed;
  background-position: 0px 25px;
  margin-bottom: 80px;
}
.background p {
  font-size: 36px;
  text-align: center;
  padding: 100px;
  margin: 0;
  margin-top: 53px;

  /* border: 1px solid red; */
}

/* promise */
.promise_title {
  font-size: 36px;
  color: #4a847e;
  text-align: center;
  margin-top: 150px;
}
.promise img {
  width: 340px;
  border-radius: 30px;
  /* vertical-align: middle; */
  margin-top: 25px;
  margin: 30px 20px 20px 20px;
}
.promise {
  /* border: 1px solid red; */
  /* display: inline-block; */
  display: flex;
  margin-top: 80px;
}
.insist {
  border: 3px solid #efefef;
  background-color: #4a857e;
  width: 387px;
  height: 580px;
  margin-right: 20px;
}
.promise p {
  font-size: 28px;
  /* text-align: center; */
  color: black;
  margin: 0 0 12px 0;
}
.promise h3 {
  font-size: 18px;
  margin: 0;
  margin: 0 15px 0 30px;
  /* text-align: center; */
  width: 335px;
  color: black;
  line-height: 30px;
}

.nature {
  border: 3px solid #efefef;
  background-color: #c7dec2;
  width: 387px;
  height: 580px;
  margin-right: 20px;
}

.health {
  border: 3px solid #efefef;
  background-color: #4a857e;
  width: 387px;
  height: 580px;
}
.promise-more {
  font-size: 16px !important;
  color: rgba(255, 255, 255, 0.918) !important;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.promise-more.reverse::after {
  width: 100%;
}
.promise-more::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  bottom: -5px;
  transition: 0.3s width ease-in-out;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
/* ＝＝＝＝＝ 客製步驟 ＝＝＝＝＝ */

.customerize {
  /* border: 1px solid black; */
  width: 1200px;
  height: 1860px;
  margin-top: 220px;

  position: relative;
  /* top: 20px; */
}

.customerize img {
  max-width: 1200px;
}
.green_banner {
  /* border: 1px solid red; */
  z-index: 10;

  /* margin-bottom: 50px; */
  /* background-image: url(../images/cutomerize/line_bac.PNG); */
}
.line {
  background-image: url(../images/cutomerize/line_bac.PNG);
  /* border: 1px solid yellow; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin-top: -815px;

  /* position: absolute;
  top: 550px;
  z-index: 1000; */
}
.orange_banner {
  /* border: 1px solid red; */
  margin-top: -555px;
}
.fresh {
  /* border: 1px solid black; */
  position: absolute;
  top: 512px;
  left: 60px;
}
.your {
  position: absolute;
  top: 601px;
  left: 125px;
}

.customerize p {
  font-size: 36px;
  color: #4a847e;
  /* border: 1px solid red; */
  display: inline-block;
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  margin: 0;
}
/* 客製化果汁icon */

div.step1 img,
div.step2 img,
div.step3 img {
  /* border: 1px solid pink; */
  width: 65px;
}
div.step1 img {
  /* position: absolute; */
  /* float: right; */
}
.step {
  /* border: 1px solid green; */
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* vertical-align: bottom;? */
  /* text-align: center; ? */
  /* display: inline-block; */
}
.step1 {
  /* border: 1px solid rgb(16, 184, 111); */
  display: inline-block;
  position: absolute;
  top: 535px;
  right: 240px;
  width: 289px;
}
.num_group {
  display: flex;
  color: #4a847e;
}
.step_num {
  /* border: 1px solid red; */
  font-size: 50px;
  /* display: inline-block; */
}
.step1_icon01 {
  display: block;
  margin-left: 70px;
}
.step1_icon02 {
  display: block;
  margin-left: 150px;
  margin-top: -24px;
}
.step2 {
  /* border: 1px solid rgb(0, 51, 255); */
  display: inline-block;
  position: absolute;
  top: 909px;
  left: 288px;
  width: 259px;
}
.step2_icon {
  display: block;
  margin-left: 92px;
  margin-top: -24px;
}
.step3 {
  /* border: 1px solid red; */
  display: inline-block;
  position: absolute;
  top: 1140px;
  left: 803px;
  width: 259px;
}
.step3_icon01 {
  display: block;
  margin-left: 60px;
  margin-top: -25px;

  /* margin-top: -24px; */
}
.step3_icon02 {
  display: block;
  margin-left: 130px;
  margin-top: -25px;
}
.customerize_title {
  color: #4a847e;
  font-size: 24px;
  margin-bottom: 5px;
}
