* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  margin: 0;
}
.footer > a {
  border: 1px solid red;
  display: inline-block;
}
.footer_logo img {
  max-width: 100px;
  /* height: 80px; */
  margin-left: 50px;
  margin-right: 30px;
}
.footer_block {
  /* border: 1px solid red; */
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7dec2;
  margin: 0 auto;
  margin-top: 150px;
}
.adress,
.time {
  font-size: 16px;
  color: #4a847e;
}

.tibame {
  /* border: 1px solid red; */
  background-color: #c7dec2;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: black;
  margin: 0 auto;
  width: 1200px;
}

/* RWD  */

img {
  max-width: 100%;
}

/* @media (max-width: 575.98px) {
  .footer_block {
    width: 100%;
  }
  p.adress,
  p.time {
    font-size: 10px;
  }
} */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .footer_block {
    width: 540px;
    
  } */
@media screen and (max-width: 575.98px) {
  .footer_block {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .footer_block {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer_block {
    width: 720px;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer_block {
    width: 960px;
    width: 100%;
  }
}

/* 
@media (max-width: 575.98px) {
  .footer_block {
    width: 100%;
  }
  .adress,
  .time {
    font-size: 10px;
  }
} */

/* @media (min-width: 576px) and (max-width: 767.98px) {
  .footer_block {
    width: 540px;
    padding: 30px 5px;
  }
  .adress,
  .time {
    font-size: 12px;
  }
} */
