@import "./footer.css";
@import "./header.css";

* {
  /* margin: o auto; */
  /* outline: 1px solid blue; */
}
/* banner */
.banner {
  background-image: url(../images/index_img/banner01-02.png);
}
.banner {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 1200px;
  height: 420px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.banner img {
  width: 100%;
  /* padding-bottom: 120px; */
}

.main {
  width: 1200px;
  /* border: 1px solid black; */
  margin: 0 auto;
  font-size: 0;
}
/* content1 */
.content1 {
  position: relative;
}

.content1 > h1 {
  font-size: 36px;
  color: #4a847e;
  /* border: 1px solid red; */
  display: inline-block;
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  margin: 0;
  position: absolute;
  height: 185px;
  top: -30px;

  /* display: flex;
  flex-flow: column wrap; */
}

.content1 > h2 {
  font-size: 24px;
  color: #4a847e;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.content1 > p {
  font-size: 18px;
  /* border: 1px solid red; */
  width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.season {
  /* border: 1px solid red; */
  display: inline-block;
}
.season img {
  width: 250px;
  /* border: 1px solid green; */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 100px;
}

/* content2 */

.content2 {
  /* border: 1px solid purple; */
  position: relative;
}
.bagr {
  /* border: 1px solid red; */
}

/* .content2 > h1 {
  font-size: 36px;
  color: #4a847e;
  display: inline-block;
  border: 1px solid blue;
  vertical-align: top;
  position: relative;
} */
.icon3 {
  /* border: 1px solid red; */
  display: inline-block;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  left: 220px;
  top: 120px;
}
.icon3 img,
.brand img {
  width: 100px;
}

.plus1,
.plus2 {
  /* border: 1px solid blue; */
  margin-top: 80px;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
}
.plus1 img,
.plus2 img,
.plus3 img {
  width: 31px;
}

.plus3 {
  position: absolute;
  left: 480px;
  top: 300px;
}

div.insist,
.nature,
.health,
.brand {
  padding: 20px;
  /* border: 1px solid blue; */
  /* display: inline-block; */

  /* height: 150px; */
}

.content2 p {
  font-size: 24px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

.brand_text {
  font-size: 18px;
  width: 311px;
  background-color: #c7dec2;
  color: white;
  padding: 40px 50px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 160px;

  /* position: absolute;
  top: 50px;  霈𦠜��舫��桃�摰帋�嚗� */
}
.brand_title {
  font-size: 36px;
  display: inline-block;
  position: absolute;
  top: -655px;
  right: 100px;
  color: #4a847e;
}
/* margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px; */

.content2 img.bagr {
  width: 892px;
}

/* content3 */

.content3 {
  /* border: 1px solid red; */
}
.content3 img {
  width: 386px;
  height: 550px;
}
.pic_green {
  /* border: 1px solid blue; */
  margin-left: 20px;
}

.content3 > h1 {
  font-size: 36px;
  color: #4a847e;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  /* align-items: center;  �∪��㚁� */
}
div.number1,
.number2,
.number3 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  width: 95px;
  height: 95px;
  background-color: #4a847e;
  color: white;
}

.happy_block {
  /* border: 1px solid green; */
  display: flex;
}
.happy_block > a {
  /* border: 1px solid red; */
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.happy_block > a > p {
  color: black;
  font-size: 18px;
  position: relative;
  left: 120px;
  top: -5px;
}
.happy_block > a > span {
  /* border: 1px solid black; */
  display: inline-block;
  width: 260px;
  position: relative;
  left: 120px;
  bottom: 20px;
  color: black;
  font-size: 14px;
  /* margin-right: 20px; */
  /* text-decoration: none; */
}

/* 123�詨�閮剖� */

.number_block {
  /* border: 1px solid green; */
  display: flex;
  /* width: 300px; */
}
.number_block > .number2,
.number3 {
  margin-left: 311px;
  position: relative;
  bottom: 110px;
  left: 0;
}
.number_block > .number1 {
  position: relative;
  bottom: 110px;
  left: 0;
}

/* content4 */
.content4 {
  position: relative;
}
.content4 img {
  width: 450px;
  width: 40%;
  /* border: 1px solid red; */
  position: relative;
  margin-left: 150px;
  margin-top: 200px;
}

.content4 h1 {
  font-size: 36px;
  color: #4a847e;
  display: inline-block;
  position: relative;
  left: 650px;
  top: -490px;
  /* border: 1px solid red; */
}
p.text {
  font-size: 16px;
  /* border: 1px solid red; */
  /* display: inline-block; */
  width: 450px;
  position: relative;
  left: 650px;
  top: -500px;
  height: 0;
}

h1.net {
  background-color: #4a847e;
  width: 250px;
  color: white;
  font-size: 24px;
  padding: 20px 30px;
  text-align: center;
  position: relative;
  left: 950px;
  top: -540px;
  /* top: -90px; */
  /* float: right;  憌𥕦枂�鳴� */
  /* width: calc(100% - 100px - 445px); */
}

h1.net::before {
  /* border: 1px solid red;
  content: "a"; */
}
p.ml {
  font-size: 14px;
  color: #4a847e;
  display: inline-block;
  margin: 0;
  /* border: 1px solid red; */
  /* margin-left: 1000px; */
  position: relative;
  left: 720px;
  top: -480px;
}
.button {
  background-color: #4a847e;
  border-radius: 20px;
  padding: 8px 12px;
  color: white;
  position: absolute;
  bottom: 200px;
  right: 200px;
  font-size: 16px;
}
.boxjuice_block img {
  width: 600px;
  margin: 0;
  /* border: 1px solid red; */
}
.boxjuice_green {
  position: relative;
}

/* .boxjuice_green img::after {
  content: "a";
  font-size: 20px;
} */
.boxjuice_block {
  /* border: 1px solid green; */
  position: relative;
}

.orange {
  /* border: 1px solid blue; */
  display: inline-block;
}
.orange img {
  margin-left: 600px;
}

.orange > h3,
.dragon > h3,
.green > h3 {
  font-size: 24px;
  display: inline-block;
  z-index: 1;
}
.orange > h3 {
  position: absolute;
  left: 512px;
  top: 100px;
}
.orange > p {
  font-size: 16px;
  display: inline-block;
  background-color: #fff1a8;
  padding: 20px;
  position: absolute;
  top: 280px;
  left: 150px;
}
.dragon > h3 {
  position: absolute;
  left: 530px;
  top: 500px;
}
.dragon > p {
  font-size: 16px;
  /* border: 1px solid green; */
  display: inline-block;
  background-color: #ffb5b5;
  padding: 20px;
  position: absolute;
  top: 680px;
  left: 700px;
}

.green img {
  margin-left: 600px;
  margin-bottom: 200px;
}
.green > h3 {
  position: absolute;
  left: 400px;
  top: 900px;
}
.green > p {
  font-size: 16px;
  /* border: 1px solid green; */
  display: inline-block;
  width: 350px;
  background-color: #adbb8a;
  padding: 20px;
  position: absolute;
  top: 1000px;
  left: 150px;
}
.line {
  height: 1px;
  width: 320px;
  background-color: black;
  position: absolute;
  bottom: 371px;
  right: 248px;
}
.net_block {
  position: absolute;
  bottom: -240px;
}
.box_green {
  width: 400px;
  height: 400px;
  background-color: #4a847e;
  position: absolute;
  top: 400px;
}
div.brand {
  position: absolute;
  bottom: 250px;
  left: 420px;
}
div.brand p {
  font-size: 24px;
  margin: 10px 0;
}
.thin {
  position: absolute;
  font-size: 30px;
  width: 386px;
  height: 125px;
  background-color: white;
  opacity: 0.7;
  bottom: 120px;
}
.thin:hover {
  display: block;
}

.thin {
  display: none;
  /* border: 1px solid black; */
}

.happy_block a:hover .thin {
  display: block;
}

.thin span {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  color: black;
  /* display: none; */
}
.box {
  position: relative;
}
