@import "./footer.css";
@import "./header.css";
* {
  box-sizing: border-box;
}

.main {
  /* border: 1px solid orange; */
  max-width: 1200px;
  margin: 0 auto;
  /* height: 9000px; */
}

.banner_shop {
  /* border: 1px solid black; */
  max-width: 1200px;
}
.banner_shop img {
  /* border: 1px solid black; */
  /* width: 1200px; */
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
}
.head {
  position: relative;
}

img {
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .banner_shop {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner_shop {
    width: 540px;
    height: 300px;
    overflow: hidden;
  }
}

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .banner_shop {
    width: 720px;
    height: 300px;
    overflow: hidden;
  }
} */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
  .banner_shop {
    width: 960px;
    height: 300px;
    overflow: hidden;
  }
} */

.breadcrum {
  /* border: 1px solid black; */
  /* width: 1200px; */
  padding: 15px;
  background-color: #4a847e;
  margin: 50px 0;
  /* padding-left: 100px; */

  /* font-size: 0;  ?? */
}
.breadcrum_block {
  /* border: 1px solid white; */
  width: fit-content;
  margin: 0 auto;
}
.breadcrum_block > a {
  text-decoration: none;
  color: white;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: inline-block;
}
.breadcrum_block > a:hover {
  color: rgb(253, 190, 74);
}
/* a.-on {
  color: var(--orange);
} */
.breadcrum_block > a {
  /* color: var(--orange); */
}

.breadcrum_block > span {
  font-size: 16px;
  display: inline-block;
}

@media (max-width: 575.98px) {
  .breadcrum {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .breadcrum {
    width: 540px;
  }
}

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .breadcrum {
    width: 720px;
  }
} */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
  .breadcrum {
    width: 960px;
  }
} */

div.scroll-container {
  /* border: 1px solid green; */
}

/* 麵包屑位子 */
/* nav{
  display: block;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 340px;
  padding: 5px;
  border: 1px solid black;
}
a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
  border: 1px solid orange;
}
div.scroll-container {
  width: 340px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
  position: relative;

  height: 200px;
  overflow-y: auto; */

/* scroll-behavior: smooth; */
/* }

.scroll-page {
  display: block;
  height: 100%;
  font-size: 80px;
  border: 1px solid black;
}  */

/* shop_item1 */
.item1 img,
.item2 img,
.item3 img,
.item4 img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.item1,
.item2,
.item3,
.item4 {
  /* border: 1px solid black; */
  position: relative;
  margin-bottom: 180px;
  font-size: 0;
}

/* 商品圖片平均分配寫法一 flex*/
.tryflex {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}

/* 商品圖片平均分配寫法二inline-block */

/* .detail {
  border: 1px solid black;
  display: inline-block;
  width: 280px;
  height: 80px;
  border-radius: 0 0 15px 15px;
  display: inline-block;
  position: absolute;
  top: 350px;
  left: 0;
}
.item {
  margin-right: 24px;
} */

/* 偽元素作框框 */

.detail {
  position: relative;
}
/* .detail::after {
  border: 1px solid gray;
  font-size: 14px;
  content: "";
  display: block;

  width: 279px;
  height: 80px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  left: 0;
  bottom: -84px;
} */

.card {
  /* border: 1px solid red; */
  display: block;
  /* display: flex; */
  justify-content: space-between;
  width: 23%;
  font-size: 0;
  position: relative;

  /* overflow: hidden; */
}

.other_notes {
  /* border: 1px solid blue; */
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px rgb(99, 99, 99);
}

/* 底部的次要說明定位及相關樣式 */
div.other_notes {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: white;
  font-size: 14px;
  color: black;
  padding: 10px 10px;

  transform: translateY(80%);

  transition: transform 0.4s;
}
a.card:hover div.other_notes {
  transform: translateY(40%);
}

.name {
  font-size: 14px;
  margin-bottom: 5px;
}
.price {
  font-size: 14px;
}

.product_group {
  /* border: 1px solid red; */
  width: 1200px;
  margin-bottom: 120px;
  font-size: 0;
  position: relative;
  /* margin-bottom: 200px; */
}
.product_name {
  font-size: 28px;
  margin-bottom: 12px;
}
.product_name::before {
  /* content: "a"; */
  clear: both;
}
.goshop {
  /* border: 1px solid green; */
  display: flex;
  flex-flow: column wrap;
  width: 300px;
}
h2.name {
  /* border: 1px solid blue; */
  width: 300px;
  display: inline;
  margin: 0;
}

/* ↑ */

/* #go_top */
.arrow {
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 60px;
  color: white;
  background-color: #4a847e;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
}

/* 分頁pagination */
div.pagination_block {
  /* border: 1px solid red; */
  display: block;
  width: 400px;
  margin: 0 auto;
  /* position: relative;
  left: 50%;
  transform:translateX(-50%); */
}
div.pagination_block > ul.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
div.pagination_block > ul.pagination > li {
  display: inline-block;
}
div.pagination_block > ul.pagination > li > a {
  display: inline-block;
  text-decoration: none;

  border: 1px solid #dee2e6; /* 留意 */
  border-right: 0; /* 留意：將全部的右邊框都移除 */

  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  color: #4a847e;
}

/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */
div.pagination_block > ul.pagination > li:last-child > a {
  border-right: 1px solid #dee2e6;
  border-radius: 0 5px 5px 0;
}
/* 留意: 將第一個 li 裡的 a，加上圓角 */
div.pagination_block > ul.pagination > li:first-child > a {
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

div.pagination_block > ul.pagination > li > a.-on {
  background-color: #e9ecef;
  color: #0056b3;
}

div.pagination_block > ul.pagination > li > a:hover {
  background-color: #e9ecef;
  color: #0056b3;
}

@media (min-width: 576px) and (max-width: 800px) {
  div.pagination_block {
    width: 70%;
    margin: 0 auto;
    margin-top: -140px;
  }
}
/* RWD */
img {
  max-width: 100%;
}
/* =====breadcrum===== */
/* @media (min-width: 576px) and (max-width: 800px) {
  div.breadcrum {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  div.breadcrum {
    width: 100%;
  }
} */
/* =====漢堡===== */

@media (min-width: 300px) and (max-width: 767.98px) {
  div.hamburger-container {
    /* border: 1px solid red; */
    display: block;
    position: relative;
    top: 30px;
    left: 0;
  }
  .hamburger_block {
    /* border: 1px solid red; */
    top: 20px;
  }
}
/* =====變成2欄式===== */
@media (max-width: 767px) {
  .main {
    width: 540px;
  }
}
@media (max-width: 767px) {
  article.item1 div.tryflex,
  article.item2 div.tryflex,
  article.item3 div.tryflex,
  article.item4 div.tryflex {
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* width: 400px; */
    object-fit: contain;
  }
  a.card {
    width: calc((100% - 20px) / 2);
    /* border: 1px solid red; */
    margin-bottom: 85px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img {
    width: 500px;
  }
}
/* @media (max-width: 575.98px) {
  .breadcrum {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .breadcrum {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .breadcrum {
    width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .breadcrum {
    width: 960px;
  }
} */

/* 
@media screen and (max-width: 575.98px) {
  a.card {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  a.card {
    width: 540px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  a.card {
    width: 720px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  a.card {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  div.my_div1 {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  div.my_div1 {
    width: 1320px;
  }
} */
