@import "./footer.css";
@import "./header.css";

* {
  box-sizing: border-box;
}
.main {
  border: 1px solid orange;
  max-width: 1200px;
  margin: 0 auto;
  /* height: 9000px; */
}

/* @media (min-width: 576px) and (max-width: 800px) {
    .main {
  border: 1px solid blue;
  width: 540px;
} */
.banner_shop img {
  /* border: 1px solid black; */
  /* width: 1200px; */
  width: 100%;
  height: 400px;
  object-fit: cover;

  margin: 0 auto;
}

.main_content {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid gray;

  border-radius: 30px;
}

.aside {
  /* border: 1px solid gray; */
  display: inline-block;

  margin: 0 auto;
  border-radius: 30px;
  vertical-align: middle;
}
.aside img {
  width: fit-content;
}

.big_size {
  /* border: 1px solid black; */
  display: inline-block;

  padding: 30px 50px;
}
.big_size img {
  width: 450px;
  height: 600px;
}

/* small pic */
.small_size_group {
  /* border: 1px solid blue; */
  margin-left: 50px;
  margin-top: -20px;
}

.small_size_group img {
  width: 80px;
  height: 120px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.detail {
  /* border: 1px solid rgb(255, 0, 200); */
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;

  width: 382px;
}

/* 右邊詳情 */
.name {
  display: inline-block;
  margin-bottom: 30px;
}
.p {
  display: inline-block;
  margin-bottom: 10px;
}

/* 數量 */

.amount {
  /* border: 1px solid rgb(255, 0, 200); */
  margin-bottom: 30px;
}
.button {
  display: inline-block;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px;
  background: #eee;
}
input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 60px;
  height: 40px;
}
.btn_addCart {
  display: block;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
  color: black;
  background-color: ;
  text-align: center;
  padding: 8px 12px;
  margin-bottom: 15px;
}
.btn_buy {
  display: block;
  /* border: 1px solid black; */
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
  color: white;
  background-color: #4a847e;
  text-align: center;
  padding: 8px 12px;
}

/* @media (min-width: 575.98px) and (max-width: 993px) {
  .main_content {
  }
  .big_size {
  

    width: 600px;
    margin: 0 250px;
  }
  .small_size_group {
   
    display: inline-block;
    margin-left: 300px;
  }
  .detail {
    margin-left: 300px;
  }
} */

/* line */
.line {
  border: 1px dashed gray;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
.other_items {
  font-size: 24px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 25px;
  color: #4a847e;
}

/* 相關商品 */
.other_pic {
  border: 1px solid gray;
  /* display: inline-block; */
  font-size: 0;
}
.other_pic img {
  width: 19%;
  /* height: 288px; */
  /* margin: 0 6px; */
  object-fit: cover;

  /* margin-right: 10px; */
}
.first_pic img {
  margin-left: 9px;
  /* width: 170px; */
}
.first_pic {
  /* border: 1px solid red; */
  display: inline-block;
}
.pic_4 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .detail {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;

    /* align-items: center; */
    /* margin-left: 50%; */
  }
  .name {
    /* width: 100%;
    margin: 0 auto; */
  }
  .aside {
    /* border: 1px solid red; */
    width: 500px;
    /* object-fit: contain; */
    margin: 0 auto;
    display: block;
  }
}
