* {
  box-sizing: border-box;
}

:root {
  --orange: #f37a55;
}
a.-on {
  color: var(--orange) !important;

  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  display: inline-block;
}

/* a.-on:hover {
  color: var(--orange) !important;
} */
